.App {
  text-align: center;
}
.Rq_warrper {
  display: grid;
  width:500px;
  position: relative;
  border-radius:10px;
margin: 0 auto;
  border:20px solid #6df3f3;
  align-items: center;
 max-width: 300px;
}
h1{
  color: #6df3f3;
}
.customBtn{
  background-color: #6df3f3;
  color: rgb(126, 113, 113);
  border-radius: 10px;
}
.infoPanl{
  width: 200px;
  height: 190px;
  border: 1px solid #6df3f3;
  border-radius: 10px;
  padding:20px 10px;
  flex-direction: column
  ;
  display: flex;
  gap: 10px;

}
.svgicon {
  height: 70%;
  left:15%;
  top:15%;
  opacity: 0.5;
  position: absolute;
  width: auto;
  border: 2px solid rebeccapurple;
}
.labelicon{
width: 100px;
height: 100px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.app_leyout {
  display: flex;
  gap: 20px;
  
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}
@media screen and (orientation: landscape){
  .app_leyout{
    flex-direction: row;

  }
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.btn {
  background-color: #fff;
  color: rebeccapurple;
  font-family: inherit;
  font-weight: bold;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

#toasts {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.toast {
  background-color: #fff;
  border-radius: 5px;
  padding: 1rem 2rem;
  margin: 0.5rem;
}

.toast.info {
  color: rebeccapurple;
}

.toast.success {
  color: green;
}

.toast.error {
  color: red;
}

